* {
    margin: 0;
    padding: 0;
}


.debug {
    border: 1px solid red;
}

div {
    display: flex;
    flex: 1;
    flex-basis: 0;
}

div.row {
    flex-flow: row wrap;
}

div.middle {
    /* applied to columns */
    justify-content: center;
}

div.right {
    justify-content: flex-end;
}

div.right_2{
    justify-content: right;
}

div.left{
    justify-content: flex-start;
}

div.column {
    flex-flow: column nowrap;
}

img.image_1 {

    width: 30%;
    height: auto;
}

p{
    font: 12px/20px "Helvetica", Times, serif;
}

img.image_2 {

    width: 40%;
    height: auto;
}

a{
    color: cadetblue;
}



img.image_3 {
    width: 35%;
    height: auto;
}

img.image_4 {
    width: 65%;
    height: auto;
    justify-content: flex-end;
}

img.image_5 {
    width: 15%;
    height: auto;
    justify-content: flex-end;
}

img.image_6 {
    width: 80%;
    height: auto;
    justify-content: flex-end;
}


img.image_7 {
    width: 90%;
    height: auto;
    justify-content: flex-end;
}

img.image_8 {
    width: 90%;
    height: 80%;
    justify-content: flex-end;
}

img.animation_1{
    width: 50%;
}

img.title_1{
    padding-top: 2rem;
    width: 15%;
}

img.title_2{
    padding-top: 2rem;
    width: 19%;
}

img.title_3{
    padding-top: 2rem;
    width: 27%;
}

img.title_4{
    padding-top: 2rem;
    width: 14%;
}

img.animation_2{
    width: 50%;

}
img.animation_3{
    width: 50%;
}
img.animation_4{
    width: 50%;
}
img.animation_5{
    width: 32%;
}
img.animation_6{
    width: 38%;
}
img.instagram_icon{

}

a:hover
{
    opacity: 30%;
    color: aliceblue;
}
