div.slides_button_left{
    width: 30%;
    height: auto;
    display: block;
    top: 38rem; left: 30rem;
    position: absolute;

}

div.slides_button_right{
    width: 30%;
    height: auto;
    display: block;
    top: 38rem; left: 80rem;
    position: absolute;

}

div.slides_button_right a:hover{
    opacity: 70%;
    color: aliceblue;
}

div.slides_button_left a:hover{
    opacity: 70%;
    color: aliceblue;
}


div.slideshow_images{

    width: 100%;
    height: auto;
    display: block;
    top: 3rem; left: 38rem;
    position: relative;
    padding: 0rem;
    transition-timing-function: ease-in;
}

div.slideshow_div{
    max-width: 100rem;
}

#troll_run{
    top: 20rem; left: 35rem;
    position: relative;
}
