

h1{
  clear: both;
  color: #f5e56f;
  text-shadow: 0px 0px 5px #ff5f00;
  margin: 15px 0 10px 0;
}

header.home_header{
  padding: 0px;
  position: relative;
  margin: 27px auto 0 auto;
  width: 750px;
  height: 209px;
  text-decoration: none;
}


header.home_header{
  position: relative;
  padding: 5rem;
  list-style-type: none;
  top: 10rem; left: -1rem;
  font: 20px/22px "Helvetica", Times, serif;
  text-decoration: none;
}

header.home_header .cat_frame {
  position: relative;
  top: 50px;
  left: -1px;
}

header.home_header .troll_frame{
  position: relative;
  top: 50px;
  left: -1px;
}

header.home_header a:link
{
  text-decoration: none;
  opacity: 0.5;
}


header.home_header a:hover
{
  opacity: 1;
}


.header-back{
  width: 20px;
  height: auto;
  margin-left: 297px;
  top: -210px; left: -18px;
  position: absolute;
}

.logo{
  width: 0px;
  height: auto;
  margin-left: 297px;
  top: -190px; left: -10px;
  position: absolute;
  filter: brightness(1000%);
}


div.cat_frame img{
  width: 180px;
  height: auto;
  display: block;
  top: -190px; left: -20px;
  position: absolute;
  
}

div.cat_animation img{
  width: 190px;
  height: auto;
  display: block;
  top: -200px; left: -20px;
  position: absolute;
  
}

div.troll_frame img{
  width: 180px;
  height: auto;
  display: block;
  top: -153px; left: 115px;
  position: absolute;
  
}

div.troll_animation img{
  width: 180px;
  height: auto;
  display: block;
  top: -153px; left: 115px;
  position: absolute;
  
}

div.chilli_frame img{
  width: 180px;
  height: auto;
  display: block;
  top: -140px; left: 270px;
  position: absolute;
  
}

div.chilli_animation img{
  width: 180px;
  height: auto;
  display: block;
  top: -140px; left: 270px;
  position: absolute;
  
}

div.cute_frame img{
  width: 150px;
  height: auto;
  display: block;
  top: -150px; left: 435px;
  position: absolute;
  
}

div.cute_animation img{
  width: 150px;
  height: auto;
  display: block;
  top: -150px; left: 435px;
  position: absolute;
  
}

div.birdo_frame img{
  width: 140px;
  height: auto;
  display: block;
  top: -130px; left: 575px;
  position: absolute;
  
}

div.birdo_animation img{
  width: 140px;
  height: auto;
  display: block;
  top: -130px; left: 575px;
  position: absolute;
  
}

div.instagram_icon img{
  width: 28px;
  top: -220px; left: 687px;
  position: absolute;
}





