<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>

h1 
{
  clear: both;
  color: #f5e56f;
  text-shadow: 0px 0px 5px #ff5f00;
  margin: 15px 0 10px 0;
}

header.home_header 
{
  padding: 0px;
  position: relative;
  margin: 27px auto 0 auto;
  width: 750px;
  height: 209px;
  text-decoration: none;
}


header.home_header .menu 
{
  margin: 15;
  margin-left: 0px;
  padding: 5;
  list-style-type: none;
  position: absolute;
  top: 190px; left: -19px;
  font: 20px/22px "Helvetica", Times, serif;  
  border
  text-decoration: none;
}


header.home_header a:link
{
  text-decoration: none;
  opacity: 0.5;
}


header.home_header a:hover
{
  opacity: 1;
}


.header-back{
  width: 20px;
  height: auto;
  margin-left: 297px;
  top: -210px; left: -18px;
  position: absolute;
}

.logo{
  width: 0px;
  height: auto;
  margin-left: 297px;
  top: -190px; left: -10px;
  position: absolute;
  filter: brightness(1000%);
}

.instagram_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

div.cat_frame img
{
  width: 250px;
  height: auto;
  display: block;
}

div.cat_animation img
{
  width: 250px;
  height: auto;
  display: block;
}









</body>
</html>