<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>

h1 {
  clear: both;
  color: #f5e56f;
  text-shadow: 0px 0px 5px #ff5f00;
  margin: 15px 0 10px 0;
}

header.home_header {
  padding: 0px;
  position: relative;
  margin: 27px auto 0 auto;
  width: 750px;
  height: 209px;
}



header.home_header .menu {
  margin: 15;
  margin-left: 0px;
  padding: 5;
  list-style-type: none;
  position: absolute;
  top: 190px; left: -18px;
  font: 20px/22px "Helvetica", Times, serif;  
}












</body>
</html>